@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poiret+One&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
    // overflow-x: hidden;
}

$mygreen: rgb(3, 94, 56);
$myblue: rgb(14, 79, 153);
$myorange: rgba(240, 83, 56, 0.89);

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1{
    color: $myblue;
    font-size: 4rem;
    text-transform: capitalize;
    text-align: center;
    margin: 1rem 0.8rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}

h3{
    // color: $mygreen;
    color: $myorange;
    font-size: 2.5rem;
    text-transform: capitalize;
    text-align: center;
    margin: 1rem 0.8rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}

h4{
    font-size: 1.7rem;
    text-transform: capitalize;
    color: $mygreen;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}

p{
    color: $myblue;
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    // font-weight: lighter;
}

.mybtn1{
    text-decoration: none;
    color: $myblue;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 2rem 1rem;
    border: 2px solid $myblue;
    border-radius: 3rem;
    font-weight: bold;
    transition: all 0.5s;
    text-transform: capitalize;
}

.mybtn1:hover{
    color: #fff;
    background-color: $myblue;
    // box-shadow: 1px 1px 2px 1px $myblue;
}


.mybtn2{
    text-decoration: none;
    color: $mygreen;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 2rem 1rem;
    border: 2px solid $mygreen;
    border-radius: 3rem;
    font-weight: bold;
    transition: all 0.5s;
    text-transform: capitalize;
}

.mybtn2:hover{
    color: #fff;
    background-color: $mygreen;
    // box-shadow: 1px 1px 2px 1px $mygreen;
}

.mybtn3{
        margin: 1rem 1rem;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        text-transform: capitalize;
        border: 0.2rem solid rgba(240, 83, 56, 0.89);
        color: rgba(240, 83, 56, 0.89);
        border-radius: 2rem;
        background: transparent;
        transition: all 1s;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        font-weight: bold;
      }
      
      .mybtn3:hover {
        background-color: rgba(240, 83, 56, 0.89);
        color: white;
        // box-shadow: 0 1rem 1rem -6px #3737d8;
        font-weight: bold !important;
        // transform: translate(0px, -1.2rem);
      }


      .sub-button{
          border: 2px solid $myblue;
          border-radius: 3rem;
          font-weight: bold;
          color: $myblue;
          font-size: 1.5rem;
          transition: all 0.8s;
      }

      .sub-button:hover{
          color: #fff;
          background-color: $myblue;
      }

      .mybtn-sm-1{
        border: 2px solid $myblue;
        border-radius: 3rem;
        text-decoration: none;
        font-weight: bold;
        color: $myblue;
        font-size: 1.5rem;
        transition: all 0.8s;
        padding: 0.2rem 0.5rem;
        margin: 0 1rem;
      }

      .mybtn-sm-1:hover{
        color: #fff;
        background-color: $myblue;
      }
      .mybtn-sm-2{
        border: 2px solid $mygreen;
        border-radius: 3rem;
        text-decoration: none;
        font-weight: bold;
        color: $mygreen;
        font-size: 1.5rem;
        transition: all 0.8s;
        padding: 0.2rem 0.5rem;
        margin: 0 1rem;
      }

      .mybtn-sm-2:hover{
        color: #fff;
        background-color: $mygreen;
      }

      .mybtn-sm-3{
        border: 2px solid $myorange;
        border-radius: 3rem;
        text-decoration: none;
        font-weight: bold;
        color: $myorange;
        font-size: 1.5rem;
        transition: all 0.8s;
        padding: 0.2rem 0.5rem;
        margin: 0 1rem;
      }

      .mybtn-sm-3:hover{
        color: #fff;
        background-color: $myorange;
      }



.myalert_message{
    font-weight: bold;
    font-size: 1.5rem;
}

.mynavbar{
    background-color: #fff;
    border-radius: 3rem;
    margin-left: -8px !important;
    width: auto;
}

.sticky{
    position: sticky !important;
    top: 0;
    width: 100%;
    z-index: 99;
}

.mynav-brand{
    font-size: 2rem;
    color: rgb(14, 79, 153) !important;
    font-weight: bold;
    margin-left: 10px;
}

.mylogo-img{
    width: 5rem;
    height: auto;
    margin: 0px;
    padding: 0%;
}

.nav-time{
    font-size: 1.5rem;
    list-style: none;
    color: $myblue;
    font-weight: 600;
    margin-left: 10rem;
    margin-right: 3rem;
    padding: 0 1rem;
}

.nav-btn{
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 0.5rem 1.2rem;
    // border: 2px solid $myblue;
    padding: 0.2rem 1.2rem;
    border-radius: 3rem;
    color: $myblue !important;
    transition: all 0.8s;
}

.nav-btn:hover{
    color: #fff !important;
    background-color: $myblue;
    // transform: scale(1.2);
}

.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100vw;
    height: 90vh;
}

.brand-name{
    text-transform: none;
    font-size: 5rem;
    font-weight: bold;
    color: $mygreen;
    border: 1px solid $mygreen;
    border-radius: 4rem;
    padding: 0rem 1.3rem;
    margin: 1rem 0.5rem;
    text-shadow: 1px 1px 3px $mygreen;
    font-family: 'Poiret One', cursive;
}

.dflex-center{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img-arrow{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    // border-radius: 50%;
}
.img-round50{
    border-radius: 50%;
}

.services-section{
    background: linear-gradient(to right, white, rgb(237, 247, 235));
    // background-color: rgb(237, 247, 235);
    width: 100vw;
    height: auto;
    border-radius: 5rem;
    margin-bottom: 0;
    // clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.mycard{
    border: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: fit-content;
    min-height: 45rem;
    transition: all 0.5s;
    border-radius: 4rem;
    margin-bottom: 2rem;
}

.mycard:hover{
    background-color: #fff;
    transform: translatey(-10.5px);
    cursor: pointer;
    box-shadow: 6px 6px 5px 3px $mygreen;
}

.mycard-img{
    margin: 0px, 0px;
    padding: 0px, 0px;
    width: 90%;
    height: auto;
    border-radius: 4rem;
}

.mycard-title{
    margin-top: 1.5rem;
}

.mycard-text{
    margin-top: 0px;
    padding: 0.2rem 1rem;
    
}


.about-section{
    margin-top: -9px;
    width: 100vw;
    height: auto;
    background: linear-gradient(to right, white, #dfebf7);
    border-radius: 5rem;
}

.box{
    border: 3px solid #fff;
    border-radius: 4rem;
    margin: 3rem;
    cursor: pointer;
    transition: all 0.8s;
}

.box:hover{
    background-color: #fff;
    transform: translatey(-10.5px);
    cursor: pointer;
    box-shadow: 6px 6px 5px 3px $myblue;
}


.contact-us{
    width: 100vw;
    height: auto;
}

.myicon{
    color: $myblue;
    font-size: 3rem;
}

.contact-data{
    margin: 2rem;
}

.mycontact{
    font-size: 1.7rem;
    color: #000;
    font-weight: 600;
    padding: 1rem 2rem;
}

.whatsapplink{
    font-size: 1.7rem;
    text-decoration: none;
    color: rgb(46, 167, 46);
    // margin: 0 1rem;
    // padding: 0.5rem 1rem;
}
.whatsapp{
    font-size: 2rem;
    text-decoration: none;
    color: rgb(46, 167, 46);
    margin-left: 2rem;
    font-weight: bolder;
    border: 2px solid rgb(46, 167, 46);
    border-radius: 3rem;
    background-color: transparent;
    padding: 0.5rem 1rem;
    transition: all 0.8s;
    // font-family: 'Poiret One', cursive;
    animation: blink 1.5s infinite;
}

@keyframes blink{
    0%{
        background-color: rgb(46, 167, 46);
        color: #fff;
    }
    50%{
        background-color: #fff;
        color: $mygreen;
    }
    100%{
        background-color: rgb(46, 167, 46);
        color: #fff;
    }
}

.whatsapp:hover{
    color: #fff;
    background-color: rgb(46, 167, 46);
    animation: none;
}


.whatsappIcon{
    font-size: 3.5rem;
    text-decoration: none;
    color: rgb(46, 167, 46);
    // margin-right: 2rem;
}

.form-text, label{
    font-size: 1.5rem !important;
}

.map{
    border-radius: 4rem;
    margin: 1rem 0.3rem;
    margin-bottom: 0px;
}

footer{
    margin-top: auto;
    clip-path: polygon(0 0, 89% 0, 100% 50%, 89% 100%, 0 100%, 0% 50%);
    // clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.myfooter{
    width: 100%;
    height: 20vh;
    // background-color: rgb(117, 106, 106);
    // background: linear-gradient(to right, #92bee9, #768da3);
    background-color: $myblue;
    // background-color: $footercolor;
    margin-top: auto;
}

.footer-icon{
    margin: 0.5rem 0.5rem;
    color: #fff;
    // color: $myorange;
    padding: 0.5rem 0.5rem;
    font-size: 3rem;
    cursor: pointer;
}

.footer-link{
    margin: 0.5rem 2rem;
    color: #fff;
    padding: 0.2rem 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.6s;
}

.footer-link:hover{
    // color: $logocolor;
    color: #000;
    font-weight: bold;
    transform: scale(1.05);
}

.footer-note{
    color: #fff;
    font-weight: lighter;
}




// media query

@media(max-width: 768px){
    html{
       font-size: 45%;
    }

    .footer-link{
        margin: 0.5rem 0.5rem;

    }
    
}


// CSS for ipo list page 

.list-all-ipo{
    th{
        font-size: 2rem;
    }
    tr{
        font-size: 1.5rem;
    }
}

.scriptDetails{
    font-size: 1.5rem;
}

.buyingP{
    color: $myblue !important;
    font-weight: 700;
}
.sellingP{
    color: $mygreen !important;
    font-weight: 700;
}



.ipoendmatter{
    margin-bottom: 5rem !important;
    margin-top: 5rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


// insurance
.aboutInsurance{
    height: fit-content;
    width: auto !important;
    margin-top: 5rem;
}



.insurance-img{
    max-width: 40%;
    height: auto;
}


.ins_desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.45rem;
    max-width: 40%;
}

.insuranceTypes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0rem;
    background-color: aliceblue;
}

.ins_individual{
    margin: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    transition: all 1s;
    border: 4px solid #fff;
    border-radius: 3rem;
    // background-color: aliceblue;
}

.ins_individual:hover{
    background-color: #fff;
    transform: translateY(-10px);
    box-shadow: 11px 1px 10px 6px $myblue;
    border-radius: 3rem;

}



.ins_individual:nth-child(odd){
    .insurance-img{
        order: 2;
    }
    .ins_desc{
        order: 1;
    }
}